# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environments
.env
.venv/
venv/

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db

# Pytest
.cache/

# JetBrains
.idea/
